:root {
    --green: rgb(83, 141, 78);
    --yellow: rgb(181, 159, 59);
    --grey: rgb(58, 58, 60);
    --flipTime: 0.75s;
}
@media screen and (max-width: 540px) {
    .view {
        width: 400px;
    }
}
@media screen and (min-width: 540px) and (max-width: 780px) {
    .view {
        width: 600px;
    }
}
body{
    background: rgb(20, 20, 20);
}
h1{
    color: whitesmoke;
    font-family: sans-serif;
    right: 0;
    font-size: 2.5rem;
    text-align: center;
}
#menu {
    margin: 1rem 1rem;
    display: flex;
    align-items:center;
    flex-direction: row;
  }
#board{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.letter{
    border: 0.15rem solid rgb(58, 58, 60);
    margin: 0.15rem;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 700;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

}
.button{
    background-color:rgb(129, 131, 132);
    color: whitesmoke;
    font-family: sans-serif;
    padding: 1.25rem;
    font-weight: 700;
    font-size: 1rem;
    margin: 0 0.15rem;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 0.5rem;
}
.menuButton{
    background-color:rgb(129, 131, 132);
    color: whitesmoke;
    font-family: sans-serif;
    padding: 1.25rem;
    font-weight: 700;
    font-size: 1rem;
    margin: 0 0.15rem;
    cursor: pointer;
    text-transform: uppercase;
    border: 0.25rem solid rgb(255, 255, 255);
    border-radius: 0.5rem;
}
#keys {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.usedBox{
    color: white;
    border: 0.15 solid rgb(86, 87, 88);
    margin: 0.15rem;
    font-size: 2rem;
    font-weight: 700;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    animation: pulse 0.5s ;
}
.shake{
    animation: shake 0.5s;
}
.row{
    display: flex;
}
.keyrow{
    display: flex;
    margin: 0.25rem 0;
}
.animateGreen{
    animation: flips var(--flipTime), flipGreen var(--flipTime) forwards step-end;
}
.animateYellow{
    animation: flips var(--flipTime), flipYellow var(--flipTime) forwards step-end;
}
.animateGrey{
    animation: flips var(--flipTime), flipGrey var(--flipTime) forwards step-end;
}
.bounce{
    animation: bounce 1s;
}
@keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(73, 73, 73, 0.7);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 1rem rgba(202, 167, 167, 0);
    }
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(124, 111, 111, 0);
    }
}
@keyframes flips {
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}
@keyframes flipGreen {
    0%{
    }
    50%{
        background-color: var(--green);
        border-color: var(--green);
    }
    100%{
        background-color: var(--green);
        border-color: var(--green);
    }
}
@keyframes flipYellow {
    0%{
    }
    50%{
        background-color: var(--yellow);
        border-color: var(--yellow);
    }
    100%{
        background-color: var(--yellow);
        border-color: var(--yellow);
    }
}
@keyframes flipGrey {
    0%{
    }
    50%{
        background-color: var(--grey);
        border-color: var(--grey);
    }
    100%{
        background-color: var(--grey);
        border-color: var(--grey);
    }
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-1rem);
    }
    40%{
        transform: translateX(1rem);
    }
    60%{
        transform: translateX(-1rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(1rem);
    }
    75%{
        transform: translateY(-0.1rem);
    }
    100%{
        transform: translateY(0);
    }
}
